@model MoviePoint.Models.MovieVM
@{
	ViewBag.Title = "Create";
}


<hr><br />
<div class="container" id="mainMovieCreateContainer">
	<div class="border border-dark" style="padding:5%">
		<div class="row">
			<div class="col">
				<h2 class="section_title text-center">Add A New Movie</h2>
			</div>

		</div>
		<br />
		<br />
		<div class="row container">
			<div class="col-6">
				<form method="post" action="/Movie/Create" id="categoryCreteForm" class="form-group">

					<label>Movie Name</label>
					<input type="text" name="Name" class="form-control" />
					<br />

					<label>Language</label>
					<input type="text" name="Language" class="form-control" />
					<br />

					<label>Year Of Release</label>
					<input type="text" name="YearOfRelease" class="form-control" /><br />


					<label class="form-label">Select Producer For This Movie</label>
					<section id="ProducerDropDownContainer">
						<select class="form-control" name="ProducerId">
							@foreach (var item in Model.Producers)
							{
								<option value="@item.ProducerId">@item.Name</option>
							}
						</select>
						<br />
						<input type="button" id="addProducerOneBtn" class="btn btn-sm btn-outline-dark"  value="Add New Producer" />
					</section>

					
					
					<br />
					<label class="form-label">Select Actors For This Movie</label>
					<section id="actorDropDownContainer">
						<select class="form-control" name="ActorsIds" multiple>
							@foreach (var item in Model.Actors)
							{
								<option value="@item.ActorId">@item.Name</option>
							}
						</select>
						<br />
						<input type="button" id="AddNewOneActor" class=" btn btn-sm btn-outline-dark" value="Add new Actor">
					</section>
					<br />

					<label>Select An Image</label>
					<input name="ImageUrl" type="hidden" id="ImageUrl" />
					<input type="file" id="imageUpload" accept=".png,.jpg,.jpeg" class="form-control " />
					<br />


					<label>Movie Description</label>
					<textarea name="Description" class="form-control"></textarea>
					<br />

					<label>Movie URL</label>
					<input type="text" name="MovieUrl" class="form-control" />
					<br />

					<input type="submit" value="Create Movie" id="fromCreateBtn" class="btn btn-sm btn-outline-success" />

				</form>
			</div>

			<div class="col-4" style="padding-left:10%">
				<img src="~/Assets/UploadedImages/placeholder-image.png" width="400" height="300" id="categoryImage" style="float:left" />
			</div>
			<div class="col-1"></div>
		</div>
	</div>

	<div id="actionContainer"></div>
</div>

<hr />
<script>
	$('#imageUpload').change(function () {

		var element = this;
		var formData = new FormData();
		var totalFiles = element.files.length;
		for (var i = 0; i < totalFiles; i++) {
			var file = element.files[i];
			formData.append("Photo", file);
		}
		$.ajax({
			type: 'POST',
			url: "/Shared/UploadImage",
			data: formData,
			dataType: 'json',
			contentType: false,
			processData: false
		}).done(function (response) {

			console.log(response);
			if (response.Success == true) {
				$('#ImageUrl').val(response.ImageUrl);
				$('#categoryImage').attr("src", response.ImageUrl);
			}
		}).fail(function (XMLHttpRequest, textStatus, errorThrown) {
			alert("Failure")
		});
	});

	$('#AddNewOneActor').click(function () {
		debugger;
		$.ajax({
			type: 'GET',
			url: "../Actor/AddActor",
		}).done(function (response) {
			
			$('#actionContainer').html(response);
			AutoFocus();
		}).fail(function (XMLHttpRequest, textStatus, errorThrown) {
			alert("Failure")
		});
	});

	$('#addProducerOneBtn').click(function () {
		debugger;
		$.ajax({
			type: 'GET',
			url: "../Producer/AddProducer",
		}).done(function (response) {
			$('#actionContainer').html(" ");
			$('#actionContainer').html(response);
			AutoFocus();
		}).fail(function (XMLHttpRequest, textStatus, errorThrown) {
			alert("Failure")
		});
	});

	function AutoFocus() {
		$('html,body').animate({
			scrollTop: $('#actionContainer').offset().top - 100
		}, 1000);
	};

	function DeFocus() {
		$('html,body').animate({
			scrollTop: $('#mainMovieCreateContainer').offset().top - 100
		}, 1000);
	};
</script>

