@model MoviePoint.Models.Producer
@{
	ViewBag.Title = "AddProducer";
}


<hr />
<br />
<div class="container">
	<div class="border border-dark" style="padding:5%">
		<div class="row">
			<div class="col">
				<h2 class="section_title text-center">Add A New Producer</h2>
			</div>

		</div>
		<br />
		<br />
		<div class="row container">
			<div class="col-6">
				<form method="post" action="/Producer/Create" id="ProducerAddForm" class="form-group">

					<label>Producer Name</label>
					<input name="Name" class="form-control" />
					<br />

					<label>Age</label>
					<input name="Age" class="form-control" /><br />

					<label>Bio</label>
					<textarea name="Bio" class="form-control"></textarea>
					<br />

					<label>Select An Image</label>
					<input name="ImageUrl" type="hidden" id="ProducerImageUrl" />
					<input type="file" id="ProducerImageUpload" accept=".png,.jpg,.jpeg" class="form-control" />
					<br />

					<input type="button" value="Create Producer" id="ProducerCreateBtn" class="btn btn-outline-success" />

				</form>
			</div>

			<div class="col-4" style="padding-left:10%">
				<img src="~/Assets/UploadedImages/placeholder-image.png" width="400" height="300" id="ProducerImage" style="float:left" />
			</div>
			<div class="col-1"></div>
		</div>
	</div>

</div>
<hr />
<script>
	$('#ProducerImageUpload').change(function () {

		var element = this;
		var formData = new FormData();
		var totalFiles = element.files.length;
		for (var i = 0; i < totalFiles; i++) {
			var file = element.files[i];
			formData.append("Photo", file);
		}
		$.ajax({
			type: 'POST',
			url: "/Shared/UploadImage",
			data: formData,
			dataType: 'json',
			contentType: false,
			processData: false
		}).done(function (response) {

			console.log(response);
			if (response.Success == true) {
				$('#ProducerImageUrl').val(response.ImageUrl);
				$('#ProducerImage').attr("src", response.ImageUrl);
			}
		}).fail(function (XMLHttpRequest, textStatus, errorThrown) {
			alert("Failure")
		});
	});



	$('#ProducerCreateBtn').click(function () {
		$.ajax({
			type: 'POST',
			url: "../Producer/AddProducer",
			data: $('#ProducerAddForm').serialize(),
		}).done(function (response) {
			$('#ProducerDropDownContainer').html(" ");
			$('#ProducerDropDownContainer').html(response);
			DeFocus();
			$('#actionContainer').html(" ");


		}).fail(function (XMLHttpRequest, textStatus, errorThrown) {
			alert("Failure")
		});
	});

</script>
